//Mixins
@mixin tablet {
  @media (max-width: 992px) { @content; }
}

:root {
  --violet1light: #201740;
  --violet2light: #7D71AF;
  --violet3light: #B0A2DE;
  --violet4light: #CDC3F2;
  --violet5light: #584B93;

  --violet1dark: #2D283E;
  --violet2dark: #9183C1;
  --violet3dark: #A69ECB;
  --violet4dark: #C8C8D9;

  --footerdark: #0A0A0B;
  --footerlight: #C8C8D9;
  --black: #111115;
  --white: #EFEFEF;
  --red: #EB0029;
  --navbarlight: rgba(0,0,0,0.7);
  --navbardark: rgba(255,255,255,0.6);
}

.light-theme {
  --header: var(--violet2light);
  --name: var(--violet1light);
  --bodybg: var(--white);
  --bodytext: var(--black);
  --btncolor: var(--violet1light);
  --projectbackground: var(--white);
  --footer: var(--footerlight);

  --behance: url("elements/social/Behance_dark.svg");
  --linkedin: url("elements/social/LinkedIn_dark.svg");
  --facebook: url("elements/social/Facebook_dark.svg");
  --instagram: url("elements/social/Instagram_dark.svg");

  --nutanix: url("elements/resume/Nutanix_dark.svg");
  --io: url("elements/resume/IO_dark.svg");
  --swc: url("elements/resume/SWC_dark.svg");
  --techniche: url("elements/resume/Techniche_dark.svg");
  --ixda: url("elements/resume/IxDA_dark.svg");

  --circles: url("elements/circles.png");
  --circlessans: url("elements/circlessans.png");
  --switch: var(--violet1dark);
  --slider: var(--white);
  --resume_title: var(--violet5light);
  --navbar: var(--navbardark);
  --btnresume: var(--black);
  --glass: rgba(74, 74, 77, 0.3);
  --svgia: url("../src/images/GeneFit/IA.svg");
  --wearablegraph: url("../src/images/GeneFit/Graph.svg");
  --roffui: url("../src/images/Roff/UI.svg");
  --verticalline: rgba(74, 74, 77, 0.3);
}

.dark-theme {
  --header: var(--violet1light);
  --name: var(--violet3light);
  --bodybg: var(--black);
  --bodytext: var(--white);
  --btncolor: var(--violet2dark);
  --projectbackground: var(--black);
  --footer: var(--footerdark);

  --behance: url("elements/social/Behance.svg");
  --linkedin: url("elements/social/LinkedIn.svg");
  --facebook: url("elements/social/Facebook.svg");
  --instagram: url("elements/social/Instagram.svg");

  --nutanix: url("elements/resume/Nutanix.svg");
  --io: url("elements/resume/IO.svg");
  --swc: url("elements/resume/SWC.svg");
  --techniche: url("elements/resume/Techniche.svg");
  --ixda: url("elements/resume/IxDA.svg");

  --circles: url("elements/circles_dark.png");
  --circlessans: url("elements/circlessans_dark.png");
  --switch: var(--white);
  --slider: var(--violet1dark);
  --resume_title: var(--violet3light);
  --navbar: var(--navbarlight);
  --btnresume: var(--white);
  --glass: rgba(74, 74, 77, 0.76);
  --svgia: url("../src/images/GeneFit/IA_dark.svg");
  --wearablegraph: url("../src/images/GeneFit/Graph_dark.svg");
  --roffui: url("../src/images/Roff/UI_dark.svg");
  --verticalline: rgba(251, 251, 251, 0.4);
}

.switch-main div { background-color: var(--switch);}

.slider-main { background-color: var(--slider); }

.navmode, .fas-main {color: var(--switch) !important;}

.nav-link-main { color: var(--switch) !important; opacity: 0.7;}

.nav-link-main.active {pointer-events: none; opacity: 1;}

.navbar-brand:hover { color: var(--violet2dark) !important; }

#Header { background-color: var(--header); }

#name { color: var(--name); }

body {
  background-color: var(--bodybg);
  color: var(--bodytext);
}

* {
  transition: background 0.35s ease;
}

.btn-index:hover, .btn-index:focus, .btn-resume:hover {
  border-color: var(--btncolor) !important;
  background-color: var(--btncolor) !important;
  color: var(--white) !important;
}

.btn-resume {
  border-color: var(--btnresume) !important;
  color: var(--btnresume) !important;
}

.btn {
  color: var(--bodytext);
  border: 1px var(--bodytext) solid;
}

.btn-index {
  color: var(--white);
  border: 1px var(--white) solid;
}

.glass {
  background-color: var(--glass);
}

.btn:hover {
  color: color(--bodytext);
}

#Projects {
  background-color: var(--projectbackground);
}

.resume_title {
  color: var(--resume_title);
}

#footer {
  background-color: var(--footer);
}

.cls-1-quote {
  fill: var(--bodytext) !important;
}

#behance{
	content:var(--behance); width: 35px;}

#facebook{
	content:var(--facebook); width: 35px;}

#linkedin{
	content:var(--linkedin); width: 35px;}

#instagram{
	content:var(--instagram); width: 35px;}

#SWC{
	content:var(--swc); height: 100%;}

#IO{
	content:var(--io); height: 100%;}

#Nutanix{
	content:var(--nutanix); height: 100%;}

#Techniche{
	content:var(--techniche); height: 100%;}

#IxDA{
	content:var(--ixda); height: 100%; }

#svg-ia {
  content:var(--svgia); height: 100%; }

.wearablegraph {
  content:var(--wearablegraph);
}

#Header { background-image: var(--circles); }

#roffui {
  content: var(--roffui);
}

#Header {
  @include tablet {
    background-image: var(--circlessans) !important;
  }
}

.navbar-main.scrolled {
  background: var(--navbar) !important;
  backdrop-filter: saturate(80%) blur(20px);
}

.svgtext {
  fill: var(--bodytext);
}

.carousel .carousel-indicators button {
  background-color: var(--bodytext) !important;
}

.carousel-control-next, .carousel-control-prev {
  color: var(--bodytext) !important; }

.VerticalLine {
border-color: var(--verticalline);
}
