$colors: (
primary: #2D283E,
violet: #9183C1,
bg: #111115,
white: #ECF2FB,
orange: #EC8539,
roffgreen: #B9D053,
ishan: #EB0029,
black: #000000

);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//Mixins
@mixin tablet {
  @media (max-width: 992px) { @content; }
}

@mixin phone {
  @media (max-width: 720px) { @content; }
}

//Grammarly
grammarly-btn {display:none!important;}

//Font
//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-Light.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-Semibold.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-SemiboldItalic.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-Medium.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-LightItalic.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-MediumItalic.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-BookItalic.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-Bold.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-Book.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-BoldItalic.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-BlackItalic.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Freight Sans Pro';
    src: url('/src/fonts/FreightSansPro-Black.woff2') format('woff2'),
        url('/src/fonts/FreightSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.carousel-item{
    height: 650px;
}
.carousel-item img{
    height: 650px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
  position: static;
  margin-top: 20px;
}

.parent {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.vl {
  border-left: 4px solid #EC8539;
  height: 150px;
  border-radius: 3px;
}

.VerticalLine {
  border-right: 1px solid rgba(251, 251, 251, 0.4);
}

.glass {
  backdrop-filter: blur(16px) saturate(101%);
  -webkit-backdrop-filter: blur(16px) saturate(101%);
  background-color: rgba(74, 74, 77, 0.76);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.orangeglass {
  background: linear-gradient(175.94deg, rgba(236, 133, 57, 0.55) 1.37%, rgba(155, 106, 70, 0) 95.42%);
  border-radius: 10px;
}

.roffglass {
  background: linear-gradient(175.94deg, rgba(185, 208, 83, 0.55) 13.62%, rgba(132, 146, 73, 0.176) 87.09%);
  border-radius: 10px;
}

.title {

    font-family: Freight Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 3.3rem;
    text-align: left;

    color: #ECF2FB;
}

.subtitle {
    position: absolute;
    font-family: Freight Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 7.5rem;
    text-align: left;
    line-height: 0.01;

    color: rgba(229, 229, 229, 0.12);

    @include phone {
      font-size: 4.5rem;
    }
}

b, strong {
    font-weight: 500;
}

.child {
  position: relative;
  z-index: 1000;
  width: 100%;
}

//Navigation bar
.navbar-nav > li {
    padding-right: 1.5vw;
}
.nav-item{
   text-align: right;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.navbar {
  background: rgba(0,0,0,0.0);
}

.nav-link{
  color: #ECF2FB;
}

.nav-link:hover{
  transition: all .35s;
  color: color(primary);
  }

.navbar-fixed-top.scrolled {
  background: rgba(0,0,0,0.7) !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#ECF2FB;
}

//Ishan_Hover
#soundsslike {
  background: url(../src/images/Ishan/Soundsslike.png) center center no-repeat;
  background-size: contain;
  height: 590px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#soundsslike:hover {
  background-image: url("../src/images/Ishan/Soundsslike_Hover.png");
}

#soundscapeworld {
  background: url(../src/images/Ishan/SoundscapeWorld.png) center center no-repeat;
  background-size: contain;
  height: 590px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#soundscapeworld:hover {
  background-image: url("../src/images/Ishan/SoundscapeWorld_Hover.png");
}

//Roff_Hover
#roff_homepage {
  background: url(../src/images/Roff/Heuristic1.png) center center no-repeat;
  background-size: contain;
  height: 1535px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#roff_homepage:hover {
  background-image: url("../src/images/Roff/Heuristic1_Hover.png");
}

#roff_whyroff {
  background: url(../src/images/Roff/Heuristic2.png) center center no-repeat;
  background-size: contain;
  height: 648px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#roff_whyroff:hover {
  background-image: url("../src/images/Roff/Heuristic2_Hover.png");
}

#roff_solutions {
  background: url(../src/images/Roff/Heuristic3.png) center center no-repeat;
  background-size: contain;
  height: 1080px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#roff_solutions:hover {
  background-image: url("../src/images/Roff/Heuristic3_Hover.png");
}

#roff_products {
  background: url(../src/images/Roff/Heuristic4.png) center center no-repeat;
  background-size: contain;
  height: 646px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#roff_products:hover {
  background-image: url("../src/images/Roff/Heuristic4_Hover.png");
}

//Projects-Tab
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 55%;
  border-radius: 20px!important;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover-1:hover {
  color: #ECF2FB !important;
}

.hover-1-description {
  color: #ECF2FB;
}



.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
  pointer-events: none;
}

.hover-1 .hover-overlay {
  opacity: 1;
  pointer-events: none;
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {

  background: rgba(0, 0, 0, 0.5);
}
//!Projects-Tab

//Dots
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
}

//Image-Carousel
.carousel-image {
  height: 100%;
  object-fit: cover;
}

.carousel {
    border-radius: 2vh 2vh 2vh 2vh;
    overflow: hidden;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0);
  pointer-events: none;
}

.carousel-caption {
    pointer-events: none;
}
//!Image-Carousel


//Status Links for Projects
.status-link {
  text-decoration: underline;
}

.status-link:hover {
  transition: all .35s;
  color: color(white);
}

.sl-onestop {
  color: #4C81F6;
}

.sl-link {
  color: #F3B822;
}

.sl-ishan {
  color: #EB0029;
}

.sl-roff {
  color: #B9D053;
}

.sl-genefit {
  color: #EE843E;
}

.sl-nutanix {
  color: #034EA2;
}
//!Status Links for Projects


//Scroll to Section
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
//!Scroll to Section

//Footer
#footer {
  background: #0A0A0B;
}

.no-top-padding
{padding-top: 0 !important}

//Landing Page Header

#Header {
  background-color: #9183C1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 99;
  top: 0;
  height: 100%;
}

.no-webp #Header {     background-image: url("../css/elements/circles.png"); }

.webp #Header {     background-image: url("../css/elements/circles.webp"); }

#Header {
  @include tablet {
    background-image: url("../css/elements/circlessans.png") !important;
  }
}

#Projects {
  padding-bottom: 1vh;
  background: #111115;
}

#Hero {
  @include tablet {
    padding-bottom: 30vh;
  }

  @include phone {
    padding-top: 20vh;
  }
}

#NavStart {
  color: #9183C1;
}

#face {
  max-width: 60vh;
  position: relative;
  right: 16vw;
  z-index: 1;

    @include tablet {
      right: 30vw;
      height: 81.5vh;
      max-width: 81.5vh;
    }
}
//!Landing Page Header

//Scroll Progress Bar

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* The progress bar (scroll indicator) */
.progress {
  height: 3px;
  width: 0%;
}

//!Sroll Progress Bar

html {
  scroll-behavior: smooth;
}

body {
    background-color: color(bg);
    background-repeat: no-repeat;
    background-size: auto;
    color: color(white);
    font-family: 'Freight Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;

      .container, .container-fluid {
        @include tablet {
        overflow-y: hidden; }
      }

      a {
        color: color(white);
        font-family: 'Freight Sans Pro', sans-serif;
        font-weight: 500;
        }

      .btn{
        color: color(white);
        font-family: 'Freight Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 1.25rem;
        }

      h1 {
         font-family: 'Freight Sans Pro', sans-serif;
         font-weight: 900;
        }

      h2, h3, h4, h5, h6 {
        font-family: 'Freight Sans Pro', sans-serif;
        font-weight: bold;
      }

      h6 {
        font-size: 1.1rem;
      }

      .process h5 {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
      }

    .section-title h3 {
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
    }

    .section-title h3::after {
      content: '';
      position: absolute;
      display: block;
      width: 70px;
      height: 9px;
      bottom: 0;
      left: 5px;
    }

    .st-roff h3::after {
      background: #B9D053;
    }

    .st-nutanix h3::after {
      background: #034EA2;
    }

    .st-onestop h3::after {
      background: #4C81F6;
    }

    .st-link h3::after {
      background: #F3B822;
    }

    .st-ishan h3::after {
      background: #EB0029;
    }

    a:hover{
      transition: all .35s;
      color: color(primary);
      }

    a:active{
      color: color(primary);
    }

    .btn {
      position: relative;
      border: 1px #ECF2FB solid;
      border-radius: 15px;
      cursor: pointer;
      transition: border 0.1s ease-in-out;
      color: color(white);
      padding: 0.5rem 2rem;
    }

    .btn:hover, .btn:focus {
      border-color: color(violet);
      background-color: color(violet);
      transition: all .35s;
      color: color(white);
    }

    .btn-index:hover, .btn-index:focus {
      border-color: color(primary);
      background-color: color(primary);
    }

    .btn-genefit:hover, .btn-genefit:focus {
      border-color: color(orange);
      background-color: color(orange);
    }

    .btn-roff:hover, .btn-roff:focus {
      border-color: color(roffgreen);
      background-color: color(roffgreen);
    }

    .btn-ishan:hover, .btn-ishan:focus {
      border-color: color(ishan);
      background-color: color(ishan);
    }

    @media only screen and (max-width: 992px) {

        #name {
          font-size: 2rem !important;
        }


        .centermob
        {
          display: flex;
          justify-content: center;
        }

        #Experience, #Leadership, #Education
        {
          text-align: center;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }
        .position {
          margin-top: 5%;
        }
    }
}


//Banner-Parallax
.Banner {
  height: 55vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;}

#Ishan-Banner {
  background-image: url("../src/images/bg/IshanDhvani.png");
}

#OneStop-Banner {
  background-image: url("../src/images/OneStop/Banner.jpg");
}

#Link-Banner {
  background-image: url("../src/images/Link/Banner.jpg");
}

#Roff-Banner {
  background-image: url("../src/images/Roff/Banner.jpg");
}

#Nutanix-Banner {
  background-image: url("../src/images/Nutanix/Banner.jpg");
}

#GeneFit-Banner {
  background-image: url("../src/images/GeneFit/Banner.png");
}
//!Banner-Parallax


//ScrollOut
[data-scroll] {
  transition: opacity 0.5s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

//Wireframes

.homepage {
  @include tablet {
    margin-bottom: 5%;
  }
}

.font-weight-light {
  font-family: 'Freight Sans Pro';
  font-weight: 300;
}
