$colors: (
primary: #03CEA9,
bg: #1c1c1c,
white: #ffffff,
black: #000000
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//Mixins
@mixin tablet {
  @media (max-width: 992px) { @content; }
}

@mixin phone {
  @media (max-width: 600px) { @content; }
}

//Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');


//Projects-Tab
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
  pointer-events: none;
}

.hover-1 .hover-overlay {
  opacity: 1;
  pointer-events: none;
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {

  background: rgba(0, 0, 0, 0.5);
}
//!Projects-Tab


//Image-Carousel
.carousel-image {
  height: 100%;
  object-fit: cover;
}

.carousel {
    border-radius: 2vh 2vh 2vh 2vh;
    overflow: hidden;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0);
  pointer-events: none;
}

.carousel-caption {
    pointer-events: none;
}
//!Image-Carousel


//Status Links for Projects
.status-link {
  text-decoration: underline;
}

.status-link:hover {
  transition: all .35s;
  color: color(white);
}

.sl-onestop {
  color: #4C81F6;
}

.sl-ishan {
  color: #EB0029;
}

.sl-roff {
  color: #B9D053;
}
//!Status Links for Projects


//Scroll to Section
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
//!Scroll to Section


//Footer
#footer {
  background: color(black);
}

//Landing Page Header
#Header {
  background-color: color(black);
}

#herobg {
  background-color: color(primary);
  display: flex;
  align-items: flex-end;
  height: 100%;

    @include tablet {
      background-color: color(primary);
      max-height: 50vw;
      display: flex;
      align-items: flex-end;
      height: 100%;
    }

    @include phone {
      display: none;
    }
}

#face {
  max-width: 100%;
  position: relative;
  right: 16vw;
  z-index: 1;

    @include tablet {
      right: 30vw;
      max-height: 81.5vw;
      max-width: 81.5vw;
    }
}
//!Landing Page Header

html {
  scroll-behavior: smooth;
}

body {
    background-color: color(bg);
    background-repeat: no-repeat;
    background-size: auto;
    color: color(white);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;

    p, a{
      color: color(white);
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1rem;
      }

    h1, h2, h3 {
       font-family: 'Lato', sans-serif;
       font-weight: 700;
       font-style: normal;
      }

    h4, h5, h6 {
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    a:hover{
      transition: all .35s;
      color: color(primary);
      }

    a:active{
      color: color(primary);
    }

    .btn {
      position: relative;
      border: 2px #67BBA6 solid;
      border-radius: 3px;
      cursor: pointer;
      transition: border 0.1s ease-in-out;
      color: color(white);
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .btn:hover, .btn:focus, .btn:active {
      border-color: color(primary);
      background-color: color(primary);
      transition: all .35s;
      color: color(white);
    }

    @media only screen and (max-width: 992px) {

        #name {
          font-size: 2rem !important;
        }


        .centermob
        {
          display: flex;
          justify-content: center;
        }

        #Experience, #Leadership, #Education
        {
          text-align: center;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }
        .position {
          margin-top: 5%;
        }
    }
}


//Banner-Parallax
.Banner {
  height: 50vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;}

#Ishan-Banner {
  background-image: url("../src/images/Ishan/Banner.png");
}

#OneStop-Banner {
  background-image: url("../src/images/OneStop/Banner.jpg");
}

#Roff-Banner {
  background-image: url("../src/images/Roff/Banner.png");
}
//!Banner-Parallax


//ScrollOut
[data-scroll] {
  transition: opacity 0.5s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
