$colors: (
primary: #03CEA9,
bg: #1c1c1c,
white: #ffffff,
black: #000000
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//Mixins
@mixin tablet {
  @media (max-width: 992px) { @content; }
}

@mixin phone {
  @media (max-width: 720px) { @content; }
}

//Font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

.parent {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.child {
  position: relative;
  z-index: 1000;
  width: 100%;
}

//Navigation bar
.navbar {
  background: rgba(0,0,0,0.7);
}

//Projects-Tab
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
  pointer-events: none;
}

.hover-1 .hover-overlay {
  opacity: 1;
  pointer-events: none;
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {

  background: rgba(0, 0, 0, 0.5);
}
//!Projects-Tab


//Image-Carousel
.carousel-image {
  height: 100%;
  object-fit: cover;
}

.carousel {
    border-radius: 2vh 2vh 2vh 2vh;
    overflow: hidden;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0);
  pointer-events: none;
}

.carousel-caption {
    pointer-events: none;
}
//!Image-Carousel


//Status Links for Projects
.status-link {
  text-decoration: underline;
}

.status-link:hover {
  transition: all .35s;
  color: color(white);
}

.sl-onestop {
  color: #4C81F6;
}

.sl-ishan {
  color: #EB0029;
}

.sl-roff {
  color: #B9D053;
}
//!Status Links for Projects


//Scroll to Section
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
//!Scroll to Section

//Footer
#footer {
  background: color(black);
  color: #fff;
}

//Landing Page Header
#Header {
  background-color: color(black);
  background-image: url("../css/elements/memphis.png");
  background-repeat: no-repeat;
   background-attachment: fixed;
  position: fixed;
  z-index: 99;
  top: 0;
  height: 100vh;
}

#Projects-Carousel {
  padding-bottom: 1vh;
  background: #1c1c1c;
}

#Hero {
  @include tablet {
    padding-bottom: 30vh;
  }

  @include phone {
    padding-top: 20vh;
  }
}

#herobg {
  background-color: color(primary);
  display: flex;
  align-items: flex-end;
  height: 100%;

    @include tablet {
      max-height: 50vh;
      bottom: 0%;
      position: fixed;
    }

    @include phone {
      display: none;
    }
}

#face {
  max-width: 60vh;
  position: relative;
  right: 16vw;
  z-index: 1;

    @include tablet {
      right: 30vw;
      height: 81.5vh;
      max-width: 81.5vh;
    }
}
//!Landing Page Header

//Scroll Progress Bar

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* The progress bar (scroll indicator) */
.progress {
  height: 3px;
  width: 0%;
}

//!Sroll Progress Bar

html {
  scroll-behavior: smooth;
}

body {
    background-color: color(bg);
    background-repeat: no-repeat;
    background-size: auto;
    color: color(white);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

      .container, .container-fluid {
        @include tablet {
        overflow-y: hidden; }
      }

      a {
        color: color(white);
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 1rem;
        }

      .btn{
        color: color(white);
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        }

      h1, h2, h3, {
         font-family: 'Raleway', sans-serif;
         font-weight: 900;
        }

      h4, h5, h6 {
         font-family: 'Raleway', sans-serif;
         font-weight: 700;
        }

    .section-title h3 {
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
    }

    .section-title h3::after {
      content: '';
      position: absolute;
      display: block;
      width: 70px;
      height: 9px;
      bottom: 0;
      left: 5px;
    }

    .st-roff h3::after {
      background: #B9D053;
    }

    .st-onestop h3::after {
      background: #4C81F6;
    }

    .st-ishan h3::after {
      background: #EB0029;
    }

    a:hover{
      transition: all .35s;
      color: color(primary);
      }

    a:active{
      color: color(primary);
    }

    .btn {
      position: relative;
      border: 2px #67BBA6 solid;
      border-radius: 3px;
      cursor: pointer;
      transition: border 0.1s ease-in-out;
      color: color(white);
    }

    .btn:hover, .btn:focus, .btn:active {
      border-color: color(primary);
      background-color: color(primary);
      transition: all .35s;
      color: color(white);
    }

    @media only screen and (max-width: 992px) {

        #name {
          font-size: 2rem !important;
        }


        .centermob
        {
          display: flex;
          justify-content: center;
        }

        #Experience, #Leadership, #Education
        {
          text-align: center;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }
        .position {
          margin-top: 5%;
        }
    }
}


//Banner-Parallax
.Banner {
  height: 50vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;}

#Ishan-Banner {
  background-image: url("../src/images/Ishan/Banner.png");
}

#OneStop-Banner {
  background-image: url("../src/images/OneStop/Banner.jpg");
}

#Link-Banner {
  background-image: url("../src/images/Link/Banner.png");
}

#Roff-Banner {
  background-image: url("../src/images/Roff/Banner.png");
}
//!Banner-Parallax


//ScrollOut
[data-scroll] {
  transition: opacity 0.5s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}

//Wireframes

.homepage {
  @include tablet {
    margin-bottom: 5%;
  }
}
