.navbar-bg { }
html {
  scroll-behavior: smooth;
}

#logo {width: 5vh;}

body {
    /* background-image: url("./bg.png"); */
    background-color: #1c1c1c;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    font-family: 'Avenir Book';
    font-weight: normal;
    font-style: normal;
}

p, a{
  color: white;
  font-family: 'Avenir';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Avenir';
   font-weight: 500;
   font-style: normal;
}

h4, h5, h6 {
  font-family: 'Avenir Book';
    font-weight: normal;
    font-style: normal;
}

a:hover{
  transition: all .35s;
  color: #67BBA6;
}

.carousel-image {
  height: 75vh;
    object-fit: cover;
}

.carousel {
    border-radius: 2vh 2vh 2vh 2vh;
    overflow: hidden;
}

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.7);
  pointer-events: none;
}

.carousel-caption {
    pointer-events: none;
}

.active.nav-link{
    pointer-events: none;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.btn {
  position: relative;
  border: 2px #67BBA6 solid;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
  color: white;
  font-family: 'Avenir';
  font-weight: 500;
  font-style: normal;
}

a:active{
  color: #67BBA6;
}

.btn:hover, .btn:focus, .btn:active {
  border-color: #67BBA6;
  background-color: #67BBA6;
  transition: all .35s;
  color: white;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}

#herobg {
  background-color: #67BBA6;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

#face {
  max-height: 51.5vw;
  max-width: 51.5vw;
  position: relative;
  right: 16vw;
  z-index: 1;
}

.navbar-dark .navbar-toggler, .navbar-dark .navbar-toggler:focus, .navbar-dark .navbar-toggler:active, .navbar-dark .navbar-toggler-icon:focus {
  border: none;
  outline: 0;
}

@media only screen and (max-width: 992px) {

    #face {
          right: 30vw;
          max-height: 81.5vw;
          max-width: 81.5vw;
    }

    #herobg {
      background-color: #67BBA6;
      max-height: 50vw;
      display: flex;
      align-items: flex-end;
      height: 100%;
    }

    #name {
      font-size: 2rem !important;
    }


  .centermob
  {
    display: flex;
    justify-content: center;
  }

  #Experience, #Leadership, #Education
  {
    text-align: center;
  }

  img {
    margin-left: auto;
  margin-right: auto;
  }
  .position {
    margin-top: 5%;
  }

  .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:200px;
  }
  .side-collapse {
      top:50px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }
}

@media only screen and (max-width: 767px){
  #herobg {
    display: none;
  }
}
